/* --- FONTS START ---- */
@font-face {
    font-family: 'Brown';
    src: url('/font/Brown-RegularItalicAlt.eot');
    src: local('/font/Brown-RegularItalicAlt'),
        url('/font/Brown-RegularItalicAlt.eot?#iefix') format('embedded-opentype'),
        url('/font/Brown-RegularItalicAlt.woff') format('woff'),
        url('/font/Brown-RegularItalicAlt.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Brown';
    src: url('/font/Brown-LightItalic.eot');
    src: local('/font/Brown-LightItalic'),
        url('/font/Brown-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('/font/Brown-LightItalic.woff') format('woff'),
        url('/font/Brown-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Brown';
    src: url('/font/Brown-Light.eot');
    src: local('/font/Brown-Light'),
        url('/font/Brown-Light.eot?#iefix') format('embedded-opentype'),
        url('/font/Brown-Light.woff') format('woff'),
        url('/font/Brown-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Brown';
    src: url('/font/Brown-Regular.eot');
    src: local('/font/Brown-Regular'),
        url('/font/Brown-Regular.eot?#iefix') format('embedded-opentype'),
        url('/font/Brown-Regular.woff') format('woff'),
        url('/font/Brown-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Brown';
    src: url('/font/Brown-BoldAlt.eot');
    src: local('/font/Brown-BoldAlt'),
        url('/font/Brown-BoldAlt.eot?#iefix') format('embedded-opentype'),
        url('/font/Brown-BoldAlt.woff') format('woff'),
        url('/font/Brown-BoldAlt.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Brown';
    src: url('/font/Brown-ThinItalic.eot');
    src: local('/font/Brown-ThinItalic'),
        url('/font/Brown-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('/font/Brown-ThinItalic.woff') format('woff'),
        url('/font/Brown-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Brown';
    src: url('/font/Brown-Thin.eot');
    src: local('/font/Brown-Thin'),
        url('/font/Brown-Thin.eot?#iefix') format('embedded-opentype'),
        url('/font/Brown-Thin.woff') format('woff'),
        url('/font/Brown-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Brown';
    src: url('/font/Brown-BoldItalicAlt.eot');
    src: local('/font/Brown-BoldItalicAlt'),
        url('/font/Brown-BoldItalicAlt.eot?#iefix') format('embedded-opentype'),
        url('/font/Brown-BoldItalicAlt.woff') format('woff'),
        url('/font/Brown-BoldItalicAlt.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Brown';
    src: url('/font/Brown-RegularItalic.eot');
    src: local('/font/Brown-RegularItalic'),
        url('/font/Brown-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('/font/Brown-RegularItalic.woff') format('woff'),
        url('/font/Brown-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Brown';
    src: url('/font/Brown-LightBackslanted.eot');
    src: local('/font/Brown-LightBackslanted'),
        url('/font/Brown-LightBackslanted.eot?#iefix') format('embedded-opentype'),
        url('/font/Brown-LightBackslanted.woff') format('woff'),
        url('/font/Brown-LightBackslanted.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Brown';
    src: url('/font/Brown-RegularBackslantedAlt.eot');
    src: local('/font/Brown-RegularBackslantedAlt'),
        url('/font/Brown-RegularBackslantedAlt.eot?#iefix') format('embedded-opentype'),
        url('/font/Brown-RegularBackslantedAlt.woff') format('woff'),
        url('/font/Brown-RegularBackslantedAlt.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Brown';
    src: url('/font/Brown-RegularAlt.eot');
    src: local('/font/Brown-RegularAlt'),
        url('/font/Brown-RegularAlt.eot?#iefix') format('embedded-opentype'),
        url('/font/Brown-RegularAlt.woff') format('woff'),
        url('/font/Brown-RegularAlt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Brown';
    src: url('/font/Brown-Bold.eot');
    src: local('/font/Brown-Bold'),
        url('/font/Brown-Bold.eot?#iefix') format('embedded-opentype'),
        url('/font/Brown-Bold.woff') format('woff'),
        url('/font/Brown-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Brown';
    src: url('/font/Brown-ThinBackslanted.eot');
    src: local('/font/Brown-ThinBackslanted'),
        url('/font/Brown-ThinBackslanted.eot?#iefix') format('embedded-opentype'),
        url('/font/Brown-ThinBackslanted.woff') format('woff'),
        url('/font/Brown-ThinBackslanted.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Brown';
    src: url('/font/Brown-RegularBackslanted.eot');
    src: local('/font/Brown-RegularBackslanted'),
        url('/font/Brown-RegularBackslanted.eot?#iefix') format('embedded-opentype'),
        url('/font/Brown-RegularBackslanted.woff') format('woff'),
        url('/font/Brown-RegularBackslanted.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Brown';
    src: url('/font/Brown-BoldBackslanted.eot');
    src: local('/font/Brown-BoldBackslanted'),
        url('/font/Brown-BoldBackslanted.eot?#iefix') format('embedded-opentype'),
        url('/font/Brown-BoldBackslanted.woff') format('woff'),
        url('/font/Brown-BoldBackslanted.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Brown';
    src: url('/font/Brown-BoldItalic.eot');
    src: local('/font/Brown-BoldItalic'),
        url('/font/Brown-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('/font/Brown-BoldItalic.woff') format('woff'),
        url('/font/Brown-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Brown';
    src: url('/font/Brown-BoldBackslanted-Alt.eot');
    src: local('/font/Brown-BoldBackslanted-Alt'),
        url('/font/Brown-BoldBackslanted-Alt.eot?#iefix') format('embedded-opentype'),
        url('/font/Brown-BoldBackslanted-Alt.woff') format('woff'),
        url('/font/Brown-BoldBackslanted-Alt.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

/*-------------------Btn Font------------------------*/
@font-face {
    font-family: 'NB International';
    src: url('/font/NBInternationalMonoWebfont.woff2') format('woff2'),
        url('/font/NBInternationalMonoWebfont.woff') format('woff'),
        url('/font/NBInternationalMonoWebfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NB International';
    src: url('/font/NBInternationalMonoWebfont_1.woff2') format('woff2'),
        url('/font/NBInternationalMonoWebfont_1.woff') format('woff'),
        url('/font/NBInternationalMonoWebfont_1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NB International';
    src: url('/font/NBInternationalMonoWebfont_2.woff2') format('woff2'),
        url('/font/NBInternationalMonoWebfont_2.woff') format('woff'),
        url('/font/NBInternationalMonoWebfont_2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/* --- FONTS END ---- */

/* single dashboard item height */
#course-pathway .panel {
    height: 270px;
}

@media only screen and (max-width: 1028px) {
	#course-pathway .panel {
    	height: 290px;
    }
}

@media only screen and (max-width: 920px) {
	#course-pathway .panel {
    	height: 320px;
    }
}

@media only screen and (max-width: 835px) {
	#course-pathway .panel {
    	height: 350px;
    }
}

@media only screen and (max-width: 600px) {
	#course-pathway .panel {
    	height: 400px;
    }
}

/* highlighted dashboard "start" button (the very first one in the row) */
#course-pathway > section > div > div:nth-child(1) > a {
    background: #A6F6FF !important;
    background-image: initial !important;
    background-position-x: initial !important;
    background-position-y: initial !important;
    background-size: initial !important;
    background-repeat-x: initial !important;
    background-repeat-y: initial !important;
    background-attachment: initial !important;
    background-origin: initial !important;
    background-clip: initial !important;
    background-color: rgb(166, 246, 255) !important;
    border: #A6F6FF !important;
    border-top-color: rgb(166, 246, 255) !important;
    border-top-style: initial !important;
    border-top-width: initial !important;
    border-right-color: rgb(166, 246, 255) !important;
    border-right-style: initial !important;
    border-right-width: initial !important;
    border-bottom-color: rgb(166, 246, 255) !important;
    border-bottom-style: initial !important;
    border-bottom-width: initial !important;
    border-left-color: rgb(166, 246, 255) !important;
    border-left-style: initial !important;
    border-left-width: initial !important;
    border-image-source: initial !important;
    border-image-slice: initial !important;
    border-image-width: initial !important;
    border-image-outset: initial !important;
    border-image-repeat: initial !important;
    color: #233040 !important;
}

/* dashboard scenario divs */
#user-course-progress, #course-pathway .x .panel {
    background: white;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: white;
    border-color: #4E7DF9;
    border-top-color: rgb(78, 125, 249);
    border-right-color: rgb(78, 125, 249);
    border-bottom-color: rgb(78, 125, 249);
    border-left-color: rgb(78, 125, 249);
    border-style: solid;
}

/* font color for the scenarios dashboard */
.x .panel {
    color: #233040;
}

/* dashboard "start" buttons */
#user-course-progress .action.start, .x .panel .action.start, #course-pathway .x .panel .action.start {
    background: #4E7DF9;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(78, 125, 249);
    border-color: #4E7DF9;
    border-top-color: rgb(78, 125, 249);
    border-right-color: rgb(78, 125, 249);
    border-bottom-color: rgb(78, 125, 249);
    border-left-color: rgb(78, 125, 249);
    border-style: solid;
    font-family: 'NB International' !important;
}

/* dashboard "start" buttons' font color */
#user-course-progress .action, .x .panel .action {
    color: white !important;
}

/* font in the scenarios */
h3, h4, p, ol, li {
	font-family: Brown !important;
}

/* font for the scenario buttons */
button, input, optgroup, select, textarea {
	font-family: 'NB International' !important;
}

/* links in the scenarios */
a {
	color: #4E7DF9!important;
}

/* set the scenario buttons' background color */
button.primary-btn.btn, .primary-btn.btn {
	background: #A6F6FF;
}

/* set the scenario buttons' text color */
.btn, .btn-large, .btn-small {
	color: #233040 !important;
}

/* copy code font for scenarios */
.text-tutorial .step code, .side-tutorial .step code {
	font-family: Brown !important;
}
